

<div class="container" style="height:70vh">
    <br /><br /><br /><br />
    <center>
        <h4>
            <br />@TempData["Title"]
            <br />@TempData["Description"]
            <br /><br />
            Please contact Administrator for assistance.
        </h4>
    </center>

</div>
