@{
	ViewBag.Title = "About.";
}
<!-- <h2>ViewBag.Title.</h2> -->

<h3>@ViewBag.Title</h3>
	<div class="row">
		<div class="panel panel-default">
			<div class="panel-heading"><h4>The available Consular Services and their required document list (PDFs)</h4></div>
			<div class="panel-body">
				<div class="col-md-11 col-md-offset-1">					
					<div class="row">
						<div class="col-md-5 panel panel-info  doc-panel">
							<p>
								<ul class="custom">
									<li><a href="/Documents/Attachments/RenewPassport.pdf">Renewal of Passport</a></li>
									<li><a href="/Documents/Attachments/LossPassport.pdf">Loss/Damage of Passport</a></li>
									<li><a href="/Documents/Attachments/IncomeTax.pdf">Income Tax</a></li>
									<li><a href="/Documents/Attachments/IncomeTaxReceipt_Duplicate.pdf">Income Tax Payment Receipt Duplicate/ Attestation for Tax Payment</a></li>
									<li><a href="/Documents/Attachments/GeneralAndSpecialPower.pdf">General Power/ Special Power/ Notary Attestation</a></li>
									<li><a href="/Documents/Attachments/student.pdf">Recommendation Letter for being Student</a></li>
									<li><a href="/Documents/Attachments/Dependent.pdf">Recommendation Letter for being Dependent</a></li>
									<li><a href="/Documents/Attachments/BeingUnEmployed.pdf">Recommendation Letter for being Unemployed</a></li>
								</ul>
							</p>
						</div>
						<div class="col-md-5 panel panel-info doc-panel">
							<p>
								<ul class="custom">
									<li><a href="/Documents/Attachments/NewBornPassport.pdf">New Born Baby Passport</a></li>
									<li><a href="/Documents/Attachments/NewBorn(SecondTime).pdf">New Born Baby Passport (Second Time)</a></li>
									<li><a href="/Documents/Attachments/ReturnAirTicketDeposit.pdf">Return Air Ticket Fee Deposit</a></li>
									<li><a href="/Documents/Attachments/ReturnAirTicketRefund.pdf">Return Air Ticket Fee Refund</a></li>
									<li><a href="/Documents/Attachments/InvitationToMonk.pdf">Invitation to Monks</a></li>
									<li><a href="/Documents/Attachments/SeamanToShorejob.pdf">Seaman to Shore Job</a></li>
									<li><a href="/Documents/Attachments/ReCitizenship.pdf">To Apply for Re-citizenship (For Ex-Myanmar)</a></li>
									<li><a href="/Documents/Attachments/RenouncementOfCitizenship.pdf">Renouncement of Myanmar Citizenship</a></li>
								</ul>
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="panel-footer"></div>
		</div>
	</div>


@section Styles {
	<style>
		ul.custom {
			list-style: none;
			margin-left: 0;
			padding-left: 1em;
		}

		ul.custom > li:before {
			display: inline-block;
			content: '\00bb';
			width: 1em;
			margin-left: -1em;
		}
		.doc-panel {
			margin-left:12px; 
			margin-right:18px;
		}
	</style>
}