@{
    ViewBag.Title = "Contact";
}
<h3>@ViewBag.Title.</h3>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <br /><b style="padding-bottom:10px">Myanmar Embassy</b>
            <br />No. 15, St. Martin's Drive, Singapore 257996
            <br />Tel: (65) 6735 5263, 6735 6576
            <br />Fax: (65) 6735 6236
            <br />Consular Section: (65) 6735 2035
            <br />
            <br /><strong>Email: </strong><a href="mailto:webmaster@myanmarembassy.sg">webmaster@myanmarembassy.sg</a>
        </div>
        <div class="col-md-6">
            <br /><b style="padding-bottom:10px">Consular Office Hours:</b>
            <br />Application Time (08:00 AM - 12:00 PM)
            <br />Collection Time  (03:00 PM - 04:00 PM)
        </div>
    </div>
</div>