<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <connectionStrings>
    <add name="DefaultConnection2" connectionString="Data Source=SOL;Initial Catalog=testEmWebAppDb;Integrated Security=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
    <add name="DefaultConnection1" connectionString="Data Source=SOL;Initial Catalog=EmbassyAppDb;Integrated Security=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
    <add name="DefaultConnection" connectionString="Data Source=SOL;Initial Catalog=EmWebAppDb;Persist Security Info=True;User ID=EmWebAppUser;Password=1234" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>