<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  
  <add key="EmailUser" value="Myanmar Embassy (Singapore)" />
  <add key="EmailAddress" value="thingyan1379@gmail.com" />
  <add key="EmailPassword" value="embassy@sg" />
  <add key="EmailSubj_VerificationRequest" value="Your consular appointment request requires email verification." />
  <add key="EmailSubj_Confirmed" value="Your consular appointment request is confirmed." />
  <add key="AppointmentTypeFile" value="AppointmentTypes.xml" />
  <add key="HolidaysFile" value="Holidays.xml" />
  <add key="DomesticWorker_PassportRenew_TmplFileName" value="ApptLtr1p1TmplV2.pdf" />
  

  <add key="QueueNumberInitial" value="100" />
  <add key="QueueDailyMax" value="50" />
  <add key="Emblem_Logo" value="content/images/logo.png" />

  <add key="ConsularLetterPdfTemplate" value="documents/pdftemplates/" />

  <add key="PrefilledFormTest" value="true"/>
  
</appSettings>
