@model EmWebApp.Models.ConsularApptVM
<div>
    @if (Model.ID > 0)
    {
		@Html.Partial((String)@ViewBag.PartialHtml, Model)
	}
	else
	{
        @Html.Partial("_ConsularApptForm", Model);
    }
</div>

@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")

}