@model EmWebApp.Models.ConsularApptVM

@{
    ViewBag.Title = "Consular Appointment - Details";
}
<div class="panel-body" style="background-color:ghostwhite">
    @Html.Partial("_ApptFormDetails", Model)
</div>