
<div class="container">
    <br />
    <h4>1. Renewal of Passport<a class="jump" id="case1"></a></h4>
    <p>Requirements</p>
    <ol>
        <li><a href="http://myanmarembassy.sg/downloads/consular/RenewPP.pdf">Application Form And Personal history form</a> (One photo within 6 months) taken by online</li>
        <li>(It is also required to take the photo at Embassy to be used in MRP Passport) </li>
        <li>Original and a copy of Passport (Photo page and validity page)</li>
        <li>WP/Spass/EP/PR Card (Re-Entry Form) (Original and Copy)</li>
        <li>
            If Applicant is Dependent
            <ol type="I">
                <li>List of Households/Birth Certificate/Marriage Certificate (Original And Copy) </li>
                <li>Copies and Originals of Passport, IC of your host </li>
            </ol>
        </li>
        <li>
            If Applicant is Student
            <ol type="I">
                <li>Recommendation Letter issued by University/ College/ School concerned or Transcript <br> (Original And Copy)</li>
                <li>Student Pass(Original And Copy) </li>
            </ol>
        </li>
    </ol>
    <br />
    <h4>2. Loss of Passport<a class="jump" id="case2"></a></h4>
    <p>Requirements</p>
    <ol>
        <li> <a href="http://myanmarembassy.sg/downloads/consular/LossPP.pdf">Application Form And Personal history form</a> (One photo within 6 months) taken by online</li>
        <li>Singapore’s Police report letter (loss Passport)</li>
        <li>Copies of first page and last endorsement page of your lost passport</li>
        <li>WP/Spass/EP/PR Card (Re-Entry Form) (Original And Copy) (if applicable)</li>
        <li>
            If Applicant is Dependent
            <ol type="I">
                <li>List of Households/Birth Certificate/Marriage Certificate (Original And Copy) </li>
                <li> Copies and Originals of Passport, IC of your host </li>
            </ol>
        </li>
        <li>
            If Applicant is Student
            <ol type="I">
                <li>Recommendation Letter issued by University/ College/ School concerned or Transcript (Original And Copy)</li>
                <li>Student Pass (Original And Copy) </li>
            </ol>
        </li>
    </ol>
    <br />
    <h4>3. New Born Baby Passport<a class="jump" id="case3"></a></h4>
    <p>Requirements</p>
    <ol>
        <li><a href="http://www.myanmarembassy.sg/downloads/consular/NewBorn.pdf">Application Form And Personal History Form</a>  are taken by online</li>
        <li>Birth Certificate (Original And Copy)</li>
        <li>Personal History of New Born (One photo within 6 months)</li>
        <li>Personal History of parents (One photo within 6 months)</li>
        <li>Marriage Certificate of Parents (Original And Copy)</li>
        <li>Parents’ passport and IC (If PR with Form-7) (Originals And Copies) </li>
    </ol>
    <br />
    <h4>4. Seaman to Shore Job <a class="jump" id="case4"></a></h4>
    <p>Requirements</p>
    <ol>
        <li>Application Form And Personal History Form (One photo within 6 months) are taken by online</li>
        <li>Job Assignment Letter (Original And Copy)</li>
        <li>CDC (Original And Copy)</li>
        <li>Original and a copy of Passport (Photo page and validity page)</li>
    </ol>
    <br />
    <h4>5. Income Tax <a class="jump" id="case5"></a></h4>
    <p>Requirements</p>
    <ol>
        <li>Application Form taken by online</li>
        <li>WP/Spass/EP/PR Card (Re-Entry Form) (Copy and original)</li>
        <li>Original and a copy of Passport (Photo page and validity page)</li>
        <li>Tax receipts (Copies and originals)</li>
        <li>
            Tax receipt of Inland Revenue Authority of Singapore<br>
            (if you paid income tax to Singapore government)
        </li>
    </ol>
    <br />
    <h4>6. Recomendation Letter for Being a Student<a class="jump" id="case6"></a></h4>
    <p>Requirements</p>
    <ol>
        <li>Application Form taken by online</li>
        <li>
            Student Pass (Copy and original)<br>
            (If applicant has gotten any degree/diploma, certificate is required to submit)
        </li>
        <li>
            Recommendation Letter issued by University/College/School Concerned
        </li>
        <li>Original and a copy of Passport (Photo page and validity page)</li>
    </ol>
    <br />
    <h4>7. Recomendation Letter for Being a Dependent<a class="jump" id="case7"></a></h4>
    <p>Requirements</p>
    <ol>
        <li>Application Form taken by online</li>
        <li>Original &amp; Copy Of IC </li>
        <li>Original and a copy of Passport (Photo page and validity page)</li>
        <li>List of Households/Birth Certificate/Marriage Certificate</li>
    </ol>
    <br />
    <h4>8. Recomendation Letter for Being Unemployed<a class="jump" id="case8"></a></h4>
    <p>Requirements</p>
    <ol>
        <li>Application Form taken by online</li>
        <li>Original and a copy of Passport (Photo page and validity page)</li>
        <li>Singapore Immigration White Card (Departure Card)</li>
    </ol>
    <br />
    <h4>9. Air Ticket Fee Deposit<a class="jump" id="case9"></a></h4>
    <p>Requirements</p>
    <ol>
        <li>Application Form taken by online</li>
        <li>Original and a copy of Passport (Photo page and validity page)</li>
        <li>Original and copy of IC card or PR Card (Re-Entry Form)</li>
        <li>Original and Copy of Passport and IC of Spouse</li>
    </ol>
    <br />
    <h4>10. Invitation of Monks<a class="jump" id="case10"></a></h4>
    <p>Requirements</p>
    <ol>
        <li>Application Form</li>
        <li>Copy of Passport of applicant</li>
        <li>Copy of Passport of venerable</li>
        <li>Copy if IC Card WP/Spass/EP/PR Card (Re-Entry Form) of applicant</li>
        <li>Buddhist Religional ID Card</li>
    </ol>
    <br />
    <h4>11. Inland Revenue Authority of Singapore – IRAS <a class="jump" id="case12"></a></h4>
    <p>Requirements</p>
    <ol>
        <li>IRAS Original and Statement of Account</li>
        <li>Passport Original</li>
        <li>IC Card WP/Spass/EP/PR Card (Re-Entry Form) (copy and Original)</li>
        <li>Last Income Tax Receipt Original issued by the Myanmar Embassy, Singapore</li>
        <li>One week processing time</li>
    </ol>
    <br />
    <h4>12. General / Special Power <a class="jump" id="case13"></a></h4>
    <p>Requirements</p>
    <ol>
        <li>General Power / Special Power Document</li>
        <li>Original &amp; Photocopies of The two witness (Passport &amp; IC/PR Card (Re-Entry Form)  (Ages over 18)</li>
        <li>Original &amp; Photocopies of (Passport &amp; IC/PR Card with Re-Entry Permit "Form 7"/EP/Student Pass) of the applicant</li>
        <li>Photocopy of National Identity Card of the nominated person</li>
        <li>Personal Application Letter which was addressed to the Ambassador</li>
        <li>One working day processing time</li>
    </ol>
    <p><strong>Note</strong> : At the back side of GP/SP paper, the two witnesses have to fill up their names, passport numbers and addresses.The attorney given person and the two have to be in the presence in front of the Embassy’s official and  sign on the General/Special Power Form. The applicant need to take online appointment and have to come to Embassy at working days.</p>
</div>

