@{
    ViewBag.Title = "Home Page";
}
<br />
<div class="jumbotron">
    <h2>Myanmar Embassy in Singapore</h2>
    <p class="lead">
        We are pleased to announce the list of Consular Services rendered to Myanmar citizens.
        Please schedule an appointment for the required service.
    </p>
    <center>
        <p><a href="~/ConsularAppt/Create" class="btn btn-primary btn-lg">Consular Appointment Form &nbsp;&nbsp;&raquo;<br /> <small style="padding:3px;">(ကောင်စစ်ဝန် တွေ့ဆုံခွင့် လျောက်လွှာပုံစံ)</small></a></p>
    </center>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4 panel panel-default" style="margin-left:12px; margin-right:18px;">
            <p>
                <ul>
                    <li>Renewal of Passport</li>
                    <li>Loss/Damage of Passport</li>
                    <li>New Born Baby Passport</li>
                    <li>From Seaman Passport to Shore Job Passport</li>
                </ul>
            </p>
        </div>
        <div class="col-md-4 panel panel-default" style="margin-left:12px; margin-right:18px;">
            <p>
                <ul>
                    <li>Recommendation Letter for being Student</li>
                    <li>Recommendation Letter for being Dependent</li>
                    <li>Recommendation Letter for being Unemployed</li>
                    <li>Inland Revenue Authority of Singapore – IRAS</li>
                </ul>
            </p>
        </div>
        <div class="col-md-3 panel panel-default" style="margin-left:12px; margin-right:18px;">
            <p>
                <ul>
                    <li>Income Tax</li>
                    <li>Invitation to Monks</li>
                    <li>Air Ticket Fee Deposit</li>
                    <li>General / Special Power</li>
                </ul>
            </p>
        </div>
    </div>
</div>